<div class="main-content">
  <a href="#" class="list-group-item clearfix" *ngFor="let reservation of reservations">
    <div class="row room-list">
      <div class="row row-content">
        <div class="col-md-8">
          <h4 class="list-group-item-heading"><img class="image-write"
                                                   src="../../../assets/images/content-writing.png">
            {{ reservation.room.roomName}}</h4>
        </div>
        <div class="col-md-4">
          <div class="row">
            <h5 class="list-group-item-text"><b>Capacity: {{ reservation.room.capacity }}</b></h5>
          </div>
          <div class="row">
            <h6 class="list-group-item-text"><b>Equipment:</b> {{this.getRoomEquipment(reservation.room.id)}} </h6>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-8">
          <h6 class="text-booked"><img class="image-booked" src="../../assets/images/double-check.png">
            Booked</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h5 class="text-booked"><b>{{reservation.checkIn}} - {{ reservation.checkOut}}</b></h5>
        </div>
        <div class="col-md-2">
          <button class="button-reservation-edit btn btn-secondary btn-md">Edit reservation</button>
        </div>
        <div class="col-md-2">
          <button class="button-reservation-delete btn btn-secondary btn-md">Delete reservation</button>
        </div>
      </div>
    </div>
  </a>
</div>
