<div class="view" style="padding: 5%;">
  <div class="row">
    <div class="col-6 col-sm-12"><h1 style="color: #6351ce; font-family: 'Gargi';"> Book a room easily ...</h1></div>
    <div class="col-6 col-sm-12">
      <button type="button" class="btn btn-secondary btn-lg" style="background-color: #6351ce; color:white;">Get Started</button></div>
    </div>
    <div class="col-6 col-sm-4"></div>
    <div class="col-6 col-sm-4" style="align-items:center;">
          <img src="../../assets/images/home-page.png" style="height: 100%; padding-top: 15%; padding-bottom: 35%;">
    </div>
    <div class="col-6 col-sm-4"></div>
</div>
