<div class="view" style="height: 700px; background-image: url('../../assets/images/home-page.png'); background-repeat: no-repeat; background-position: center center;">
    <div class="container-fluid">
      <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
        <h1 style="color: #6351ce; font-family: 'Gargi';"> Book a room easily ...</h1>
      </div>
        <div class="col-mt-6 mt-2 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
          <hr class="hr-light">
          <h3><a mdbBtn style="color: #6351ce;" mdbWavesEffect>Get Started</a></h3>
        </div>
    </div>
</div>
