<div class="view">
  <div class="row">
    <div class="box">
      <div><h1 class="title"> Book a room easily!</h1>
        <i>You can create a space for your organization...</i><br>
        <a type="button" (click)="openDialogCreate()" class="btn btn-secondary btn-lg"  style="background-color: #6351ce; color:white;">
          Create now
        </a>
        <br><br>
        <i>...or join your organization here: </i><br>
        <a type="button" (click)="openDialogJoin()" class="btn btn-secondary btn-lg"  style="background-color: #6351ce; color:white;">
          Join with code
        </a><br>
      </div>
      <img class="img-fluid" src="../../assets/images/coverImage.png">
    </div>
  </div>
</div>
