<body>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="row align-items-center">
        <h3 class="title">My account</h3>
        <div class="editButton text-right">
          <button mat-raised-button color="primary">Edit profile</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <hr>
        <h6 class="heading-small text-muted mb-4">User information</h6>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="input-username">Username</label>
              <input type="text" id="input-username" class="form-control form-control-alternative"
                     placeholder="Username" readonly>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="input-email">Email address</label>
              <input type="email" id="input-email" class="form-control form-control-alternative"
                     placeholder="example@example.com" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label for="input-first-name">First name</label>
              <input type="text" id="input-first-name" class="form-control form-control-alternative"
                     placeholder="First name" readonly>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group focused">
              <label for="input-last-name">Last name</label>
              <input type="text" id="input-last-name" class="form-control form-control-alternative"
                     placeholder="Last name" readonly>
            </div>
          </div>
        </div>
        <hr>
        <h6 class="heading-small text-muted">Professional information</h6>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="input-address">Position</label>
              <input id="input-address" class="form-control form-control-alternative"
                     placeholder="Enter a position you are taking in your organization" type="text" readonly>
            </div>
          </div>
        </div>
        <hr>
      </form>
    </div>
  </div>
</div>
</body>
