<div class="main-content">
  <h2 style="color: #2c0092; font-family: Gargi;">Search results:</h2>
  <a href="#" class="list-group-item clearfix" *ngFor="let room of rooms">
    <div class="row room-list">

      <div class="row row-content">
        <div class="col-md-8">
          <h4 class="list-group-item-heading"><img class="image-write" src="../../../assets/images/content-writing.png">
            {{ room.roomName }}</h4>
        </div>
        <div class="col-md-4">
          <div class="row">
            <h5 class="list-group-item-text"><b>Capacity: {{ room.capacity }}</b></h5>
          </div>
          <div class="row">
            <!--<h6 class="list-group-item-text"><b>Equipment:</b> {{ getEquipment(room.id) }}</h6>-->
          </div>
        </div>
      </div>

      <div class="row row-content"></div>

      <div class="row row-content">
        <div class="col-md-8">
          <h6 class="text-avaliable"><img class="image-avaliable" src="../../../assets/images/available.png">
            Available</h6>
        </div>
        <div class="col-md-4">
          <button class="btn btn-secondary btn-md"  (click)="bookRoom(this.room.id)" style="background-color: #6351ce; color:white; width: 100%;">Book
            room</button>
        </div>
      </div>
    </div>
  </a>
</div>