<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="./assets/images/logo.png"  style="width: 50%">
      </a>
    </div>

    <div class="collapse navbar-collapse" style="">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">HOME</a></li>
        <li><a href="#">BOOK ROOM</a></li>
        <li><a href="#">RESERVATIONS</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">CONTACT</a></li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile Info</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
