<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img  src="./assets/images/logo.png"  style="width: 50%">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/">HOME</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/book-room">BOOK ROOM</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/reservations">RESERVATIONS</a></li>
        <li><a routerLink="/faq">FAQ</a></li>

        <li>
          <div class="menu-row" >
            <button class="profileButton"mat-stroked-button [matMenuTriggerFor]="menuHero" color="primary" ng-init>
              <img class="profileImageNav" src="./assets/images/profile.png" alt=""> </button>
            <mat-menu #menuHero="matMenu" class="uxg-user-profile box">
              <div *ngIf="isLoggedIn" class="uxg-menu-header">
                <div class="uxg-avatar-hero-block content" >
                  <h6 class="uxg-h6">{{ firstName }}  {{ lastName }}</h6>
                  <span  class="uxg-caption">{{ email }}</span>
                </div>
              </div>
              <button *ngIf="!isLoggedIn" class="dropdownNav" mat-raised-button routerLink="/login">LOG IN</button>
              <button *ngIf="isLoggedIn" class="dropdownNav" mat-raised-button routerLink="/profile">PROFILE</button>
              <button *ngIf="isLoggedIn && showModeratorBoard" class="dropdownNav" mat-raised-button routerLink="/moderator">MODERATOR</button>
              <div class="uxg-menu-footer navButtons">
                <button *ngIf="isLoggedIn" (click)="logout()" class="logoutButton" mat-flat-button color="primary" dense>
                  <mat-icon>exit_to_app</mat-icon>
                  Logout
                </button>
              </div>
            </mat-menu>
          </div>

        </li>


        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile Info</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
