<mat-card class="card">
  <div class="registrationForm">
    <mat-card-header>
      <mat-card-title class="title">Registration form</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div class="alert alert-success" *ngIf="isRegistrate">
        User Registered successfully!
      </div>

      <i *ngIf="!isRegistrate" class="description">Fill in this form to create an account.</i>
      <form [formGroup]="registerForm" *ngIf="!isRegistrate" (ngSubmit)="onFormSubmit()">

        <table class="full-width">
          <div class="form-group">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input formControlName="firstName" class="form-control" matInput placeholder="First name" name="firstName" required>
              </mat-form-field>
            </td>
          </tr>
          </div>
          <div class="form-group">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input formControlName="lastName" class="form-control" matInput placeholder="Last name" name="lastName" required>
              </mat-form-field>
            </td>
          </tr>
          </div>
          <div class="form-group">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input formControlName="email" class="form-control" matInput placeholder="Email" name="email" required>
              </mat-form-field>
            </td>
          </tr>
          </div>
          <div class="form-group">
          <tr>
            <td><mat-form-field class="full-width">
              <input formControlName="password" class="form-control"  matInput placeholder="Password" type="password" name="password" required>
            </mat-form-field></td>
          </tr>
          </div>

        </table>
        <mat-card-actions>
          <div class="loginButton">
            <button mat-raised-button color="primary">Make a registration</button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </div>
</mat-card>
