<div mat-dialog-title class="dialog-title">
  <img class="passImage" src="../../assets/images/password.png">
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-toolbar>
  <h1 mat-dialog-title>Join a team with a security code</h1>

</mat-toolbar>
<mat-card class="my-card">
  <i>The moderator of your team should give you the security code, provided in their profile.<br> Enter the code to join the organization</i><br><br>
  <div mat-dialog-content>
    <form class="my-form">
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Security code</mat-label>
          <input  matInput  placeholder="Code"  name="code"  required>
        </mat-form-field>
      </form>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="submit">
      <button mat-raised-button color="primary">Confirm</button>
    </div>
  </div>
</mat-card>
<mat-card-content>

</mat-card-content>

