<div class="main-content">
  <div class="title">
  <h1>FAQ page</h1>
  <h5><i>Find the answer of the question you are looking for...</i></h5>
    <img class="faqTitleImage" src="./assets/images/chat-bubble.png">
  </div>
  <div class="container">
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
          <mat-panel-title>
            How to make a reservation ?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
          First make a registration. Then go to the 'BOOK ROOM' page and select the room that you want to book.
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
          <mat-panel-title>
            What is the pricing?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
          Price can be different. Please, contact our time for more information.<br>
          Email: zealroom@gmail.com
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
          <mat-panel-title>
            Where can I find my current reservations?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
          You can find your current reservations in the 'RESERVATIONS' page.
        </mat-panel-description>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
          <mat-panel-title>
            Can I add my organization to your app?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
          Yes, you can. Go to the Home page and click on 'Create now' button. Then follow the steps.
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
