@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #dfe6e9;
}

.container {
  margin: 50px;
}

.mat-expansion-panel-header-description {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
}

.mat-expansion-panel-header {
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  background-color: #f5f6fa;
}
