<div mat-dialog-title class="dialog-title">
  <img class="passImage" src="../../assets/images/password.png">
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-toolbar>
  <h1 mat-dialog-title>Unique security code</h1>

</mat-toolbar>
<mat-card class="my-card">
  <i>You should provide that code to the future members of this team.</i><br><br>
  <div mat-dialog-actions>
    <button (click)="toggleData()" mat-raised-button color="primary">Generate user code</button>
  </div>
  <br><br>
  <div mat-dialog-content>
      <div *ngIf="toDisplay">
        <div class="code" >
          {{userCode}}
        </div>
      </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="toggleDataModerator()" mat-raised-button color="primary">Generate moderator code</button>
  </div>
  <br><br>
  <div mat-dialog-content>
    <div *ngIf="toDisplayModerator">
      <div class="code" >
        {{moderatorCode}}
      </div>
    </div>
  </div>
</mat-card>

